*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main{
    height: auto;
    width: 100%;
    /* border: 1px solid black; */
    background-color: rgba(245, 245, 245, 0.349);
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.main .first{
    height: 300px;
    width: 90%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .first .box1,.box2,.box3,.box4,.box5{
    height: 100%;
    width: 18%;
    background-color: whites;
    /* border: 1px solid black; */
}
.main .first .box1:hover,.box2:hover,.box3:hover,.box4:hover,.box5:hover{
    box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.68);
}
.main .first .box1 .img1,.box2 .img2,.box3 .img3,.box4 .img4,.box5 .img5{
    height: 70%;
    width: 100%;
    /* border: 1px solid black; */
}
.main .first .box1 .img1{
    background-image: url(img/i1.webp);
    background-position: center;
    background-size: cover;
    transition: 2s;
}
.main .first .box1 .img1:hover{
    background-image: url(img/i7.webp);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.main .first .box2 .img2{
    background-image: url(img/i2.webp);
    background-position: center;
    background-size: cover;
    transition: 2s;
}
.main .first .box2 .img2:hover{
    background-image: url(img/i10.webp);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.main .first .box3 .img3{
    background-image: url(img/i3.webp);
    background-position: center;
    background-size: cover;
    transition: 2s;
}
.main .first .box3 .img3:hover{
    background-image: url(img/i8.webp);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.main .first .box4 .img4{
    background-image: url(img/i4.webp);
    background-position: center;
    background-size: cover;
    transition: 2s;
}
.main .first .box4 .img4:hover{
    background-image: url(img/i6.webp);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.main .first .box5 .img5{
    background-image: url(img/i5.webp);
    background-position: center;
    background-size: cover;
    transition: 2s;
}
.main .first .box5 .img5:hover{
    background-image: url(img/i9.webp);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.main .first .box1 .text1,.box2 .text2,.box3 .text3,.box4 .text4,.box5 .text5{
    height: 30%;
    width: 100%;
    /* border: 1px solid black; */
}
.main .first .box1 .text1 #par1,.box2 .text2 #par1,.box3 .text3 #par1,.box4 .text4 #par1,.box5 .text5 #par1{
    margin-left: 10px;
    margin-top: 10%;
}
.main .first .box1 .text1 #par2,.box2 .text2 #par2,.box3 .text3 #par2,.box4 .text4 #par2,.box5 .text5 #par2{
    margin-left: 10px;
    margin-top: 2%;
}