.pro-card{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    /* border: 0.7px solid dimgray; */
    background: linear-gradient(#D4D3D3,#EDEDEC,#EDEDEC,#F6F6F5,#F5F5F5);
    position: relative;
}

.pro-card:hover{
    box-shadow: 0px 0px 10px 0px dimgray;
}

#like{
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
    color: rgb(79, 79, 79);
    /* color: white; */
    
}

#like:hover{
    color: orangered;
    /* filter: drop-shadow(1px 1px 7px 1px black); */

}


